*,
*::before,
*::after {
  box-sizing: border-box;
}

/* border-box ensures width includes padding & border; margin is outside */

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


body {
  background-color: hsl(47, 88%, 63%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Figtree", sans-serif;
  margin: 0
}

.card-container {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 22rem;
  padding: 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid rgba(17, 17, 17, 1);
  box-shadow: 0.5rem 0.5rem 0 0 rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.illustration {
  width: 100%;
  display: block;
  border-radius: 0.625rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}


.learning-label {
  background-color: hsl(47, 88%, 63%);
  border-radius: 0.25rem;
  padding-inline: 0.75rem;
  padding-block: 0.25rem;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.5;
  color: hsl(0, 0%, 7%);
  margin-block-end: 0.75rem;
}

.publish-label {
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
  margin-block-end: 0.75rem;
}

.title {
  font-weight: 800;
  font-size: 1.5rem;
  color: hsl(0, 0%, 7%);
  line-height: 1.4;
  margin: 0;
  margin-block-end: 0.75rem;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.title a:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  font-weight: 500;
  color: hsl(0, 0%, 42%);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-block: 0;
}

.author-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.avatar {
  width: 2rem;
  height: 2rem;
}

.author-label {
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  line-height: 1.5;
}